/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #1D242B;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0077C0;
    color: #FAFAFA;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 20;
  }
  
  /* Logo Styles */



.logo-text {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #FAFAFA;
}



  nav div span {
    display: inline;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
  }
  
  nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
  }


  nav ul li a:hover {
    background-color: #C7EEFF;
    padding: 10px 15px;
    color: #1D242B;
    transition: 0.5s ease-in-out  ;
  }
  
  .icon-nav {
    font-size: 24px;
    display: none;
    color: white;
  }


  section {
    margin-bottom: 200px;
  }

  .hero {
    margin-bottom: 100px;
  }
  
  .hero {
    padding: 32px 64px;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    gap: 500px;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .hero .hero-img img {
    width: 600px;
  }
  
  .btn-cta {
    background-color: #0077C0;
    color: #FAFAFA;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }


  .btn-cta:hover {
    animation: wide 500ms ease-in-out forwards;
  }

  @keyframes wide {
    0%{
      
    }

    50%{
      padding: 18px 23px;
    }

    100%{
      padding: 15px 25px;
    }
  }

  .direction {
    color: #1D242B;
    text-decoration: none;
  }

  #arrow {
    margin-top: 4rem;
    display: grid;
    place-items: center;
    position: relative;
  }

  #arrow img {
    top: 20px;
    animation: bounce 1s infinite ease-in-out;
    position: absolute;
  }
    

  
  .feature > h1 {
    text-align: center;
    font-weight: 700;
    font-size: 10rem;
  }

  .feature {
    padding: 20px;
  }

  .feature > div > img {
    width: 30rem;
    height: auto;
    border-radius: 30px;
  }

  .feature-1, .feature-2, .feature-3, .feature-4 {
    padding: 4rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 10rem;
  }

  .description-feature h1 {
    font-size: 4rem;
    margin-bottom: 2px;
  }

  .feature-2, .feature-4 {
    flex-direction: row-reverse;
  }

  .feature > div > div > p {
    font-size: 1.5rem;
    text-indent: 2px;
  }
  

  .feature > div > div > a {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #0077C0;
    border: 1px solid #FAFAFA;
    text-decoration: none; 
    font-weight: 700;
    width: 70px;
    color: #FAFAFA;
  }


  .feature > div > div > a:hover {
    animation: button .3s ease-in forwards;
  }

  @keyframes button {
    0%{
      padding: 10px 20px;
    }

    50%{
      padding: 18px 23px;
    }

    100%{
      padding: 15px 25px;
    }
    
  }
  
  footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 7rem;
    background-color: #1D242B;
    color: #FAFAFA;
  }
  

  footer .social-media  {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .icon-medsos {
    display: flex;
    align-items: center;
  }

  .social-media .icon-medsos a {
    color: #FAFAFA;
    text-decoration: none;
  }

  .social-media .icon-medsos i {
    color: #FAFAFA;
    font-size: 50px;
    margin-right: 20px;
    margin-left: 10px;

  }

  @keyframes bounce {
    
  
    0%{
      margin-top: 50px;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 50px;
    }
  }

  @media only screen and (max-width :768px) {

    nav {
      flex-wrap: wrap;
    }

    nav ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    nav ul.hidden {
      display: none;
    }

    .icon-nav {
      display: flex;
      align-items: center;
    }

    .feature-1, .feature-2, .feature-3, .feature-4 {
      flex-direction: column;
    }

    
  }